<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/default.css">
    <link rel="stylesheet" href="./styles/lib.css">
    <link rel="stylesheet" href="../styles/envia.css">
    <link rel="stylesheet" href="../styles/components/partials/title.css">
    <title>Zoologistica // Envía con nosotros!</title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  </head>
  <body>
    <nav class="nav -Flex">
      <ul class="nav_links -Flex">
        <li><a href="">INICIO</a></li>
        <li><a href="">ENVIA</a></li>
        <li><a href="">AFILIATE</a></li>
        <li><a href="">algo xd</a></li>
      </ul><a class="burger"><i class="fas fa-caret-square-down"></i></a>
    </nav>
    <script>
      const toggleButton = document.getElementsByClassName('burger')[0]
      const navbarLinks = document.getElementsByClassName('nav_links')[0]
      const nav = document.getElementsByClassName('nav')[0]
      
      toggleButton.addEventListener('click', () => {
        navbarLinks.classList.toggle('toggle-active'),
        nav.classList.toggle('toggle-active-burger')
      });
    </script><br class="main-mqrgin"><br>
    <link rel="stylesheet" href="../styles/components/buttons.css">
    <section class="send"><br>
          <header class="comp-title">
            <h3>envia con nosotros</h3>
          </header><br><br>
      <div class="business -Padd3">
            <header class="comp-title">
              <h3>servicio para empresas</h3>
            </header><br>
        <p>Zoologistica te quiere comprometido. Por eso, contamos con descuentos, promociones y participaciones en nuestra empresa. Afíliate, deuate sorprender y se parte de los pioneros en el trqnsporte de especies exóticas no convencionales en México.</p>
      </div>
      <section class="service_prices -Flex">
        <div class="box">
          <h3>PAQUETE CHICO</h3><img src="../img/service/box.png" alt="alt">
          <div>
            <h6>medidas máximas:</h6>
            <p>25cm X 20cm X 30cm</p>
          </div>
        </div>
        <div class="box">
          <h3>PAQUETE MEDIANO</h3><img src="../img/service/box.png" alt="alt">
          <div>
            <h6>medidas máximas:</h6>
            <p>30cm X 45cm X 50cm</p>
          </div>
        </div>
        <div class="box">
          <h3>PAQUETE GRANDE</h3><img src="../img/service/box.png" alt="alt">
          <div>
            <h6>medidas máximas:</h6>
            <p>50cm X 75cm X 100cm</p>
          </div>
        </div>
        <div class="box">
          <h3>PAQUETE JUMBO</h3><img src="../img/service/box.png" alt="alt">
          <div>
            <h6>medidas máximas:</h6>
            <p>100cm X 140cm X 150cm</p>
          </div>
        </div>
      </section>
      <section class="get_afiliated -Padd3">
        <p>¿ Cómo puedo afiliarme con zoologistica ? Es muy simple, solo ponte en contacto con nosotros, cuentanos un poco de tu PIMVS y/o comercializadora y brindanos un poco de informacion para tu contacto personal y redess sociales y por ultimo mandanos tu logo y es todo.</p><br>
        <p>Con la informscion adicional e imagen representativa de la empresa te haremos acreedor de unnmargen publicitario en nuestras redes y un espacio permanente en nuestro sitio web, ademas de nuestras promociones adicionales y descuentos que seguido tenemos a nuestro afiliados.</p><br>
        <div class="-Flex"><a class="btn-primary -flex" href="">afiliate con nosotros</a>
        </div>
      </section>
      <section class="particular -Padd2">
            <header class="comp-title">
              <h3>servicio particular</h3>
            </header>
        <div class="-Case -Flex">
          <div class="-Padd2">
            <p>zoologistica es para todos, por lo tanto tambien ofrecemos envíos a clientes particulares.</p><br>
            <p>Los envíos son para todos y zoologistica también, asi que pregúntanos y envía ahora mismo con nosotros!!</p><br><br>
            <div class="-Flex"><a class="btn-primary -flex" href="">cotiza ahora mismo</a>
            </div>
          </div>
          <div class="particular__images -Flex"><img src="../img/deliveries/6.jpg" alt="zoologistica"><img src="../img/deliveries/5.jpg" alt="zoologistica"></div>
        </div>
      </section>
    </section>
  </body>
</html>