<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/default.css">
    <link rel="stylesheet" href="../styles/lib.css">
    <link rel="stylesheet" href="../styles/components/partials/navbar.css">
    <link rel="stylesheet" href="../styles/tarifas.css">
    <link rel="stylesheet" href="../styles/components/partials/title.css">
    <title>Zoologistica // Tarifas &amp; costos</title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  </head>
  <body>
    <nav class="nav -Flex">
      <ul class="nav_links -Flex">
        <li><a href="../index.html">INICIO</a></li>
        <li><a href="./envia.html">ENVIA</a></li>
        <li><a href="">AFILIATE</a></li>
        <li><a href="./contacto.html">CONTACTO</a></li>
      </ul><a class="burger"><i class="fas fa-caret-square-down"></i></a>
    </nav>
    <script>
      const toggleButton = document.getElementsByClassName('burger')[0]
      const navbarLinks = document.getElementsByClassName('nav_links')[0]
      const nav = document.getElementsByClassName('nav')[0]
      
      toggleButton.addEventListener('click', () => {
        navbarLinks.classList.toggle('toggle-active'),
        nav.classList.toggle('toggle-active-burger')
      });
    </script><br class="main-mqrgin"><br>
    <link rel="stylesheet" href="../styles/components/buttons.css">
    <section class="enterprise -Padd2">
          <header class="comp-title">
            <h3>servicio empresarial</h3>
          </header>
      <div class="enterprise__txt">
        <p>Zoologistica apoya a las grandes, medianas y pequeñas empresas. Cotiza con nosotros o afiliate y disfruta de nuestros precios especiales y promociones que tenemos para ustedes.</p><br>
        <p>¿Que se necesita para afiliarse? es muy simple :</p><br>
        <ol class="-Rad -Padd2 -Shadow">
          <li>Nombre o razon social del comercializadora/ PIMVS/ empresa.</li>
          <li>Nombre del propietario o representante legal.</li>
          <li>Lista de ejmplares, servicios o vienes que la empresa ofrece.</li>
          <li>logo de la empresa.</li>
          <p>(Los datos recabados son meramente usados para fines de publicidad y llevar un mejor control sobre los envios de la empresa en si)</p>
        </ol><br><br>
        <p>Únete a los mas de 40 afiliados que hoy en día envían por Zoologistica y se parte de la experiencia del cambio en el transporte de especies exòticas no convemcionales en México.</p>
      </div>
    </section>
  </body>
</html>